body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}

#landing-page {
  text-align: center;
}

#landing-page img {
  display: block;
  margin: 0 auto;
}
